<div style="margin: 20px;">
  <h1>Catálogo de Celulares</h1>
  @if(listaCelulares.length > 0){
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Precio</th>
        <th>Estado</th>
        <th>Cambiar Estado</th>
        <th>Seleccionar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      @for(celular of listaCelulares; track celular.id){
        <tr>
          <td>{{ celular.id }}</td>
          <td>{{ celular.marca }}</td>
          <td>{{ celular.modelo }}</td>
          <td>{{ celular.precio }}</td>
          <td>{{ celular.vendido ? 'Vendido' : 'Disponible' }}</td>
          <td>
            <button type="button" class="btn btn-secondary"
            (click)="cambiarEstado(celular)">
              {{ celular.vendido ? 'Marcar como Disponible' : 'Marcar como Vendido' }}
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-warning"
            (click)="seleccionarCelular(celular)">Seleccionar</button>
          </td>
          <td>
            <button type="button" class="btn btn-danger"
            (click)="eliminarCelular(celular.id)">Eliminar</button>
          </td>
        </tr>
      }
    </tbody>
    </table>
  } @else{
    <h3>NO HAY CELULARES</h3>
  }
  <div>
    <p>
    ID: <input type="number" class="form-control" [(ngModel)]="celular.id"/>
    </p>
    <p>
      Marca: <input type="text" class="form-control"[(ngModel)]="celular.marca"/>
    </p>
    <p>
      Modelo: <input type="text" class="form-control" [(ngModel)]="celular.modelo" />
    </p>
    <p>
      Precio: <input type="number" class="form-control" [(ngModel)]="celular.precio" />
    </p>
    <p>
      <button type="button" class="btn btn-primary"
      (click)="agregarCelular()">Agregar</button>
      
      <button type="button" class="btn btn-success"
      (click)="modificarCelular()">Modificar</button>
    </p>
  </div>
</div>

<router-outlet></router-outlet>